.officer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/* CIRCLE AVATAR */
.officer-card-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #d9d9d9;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 8px 18px rgba(0,0,0,0.25);
  margin-bottom: 16px;

  transition: transform .25s ease;
}

.officer-card-image img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.officer-card:hover .officer-card-image{
  transform: translateY(-6px) scale(1.05);
}

/* NAME */
.officer-card-content h3:first-child{
  font-size:16px;
  font-weight:600;
  color:white;
  margin:4px 0;
}

/* POSITION */
.officer-card-title{
  font-size:13px;
  color:#ffffff;
  margin-bottom:10px;
}

/* SOCIALS */
.officer-card-socials{
  display:flex;
  gap:10px;
  color:white;
  font-size:14px;
}

.officer-card-socials svg{
  cursor:pointer;
  transition:transform .2s;
}

.officer-card-socials svg:hover{
  transform:scale(1.2);
}