.announcement-container {
  background-image: url('../../assets/bg1.svg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.announcement-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 3rem;
}

.announcement-content {
  display: flex;
  height: 500px;
  width: 75vw;
}

.wave-image {
  width: 100%;
  margin-top: 2rem;
}

.wave {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
