.document-card {
  display: flex;
  flex-direction: column;

  background: #ffffff;
  border-radius: 16px;

  padding: 22px;

  border: 1px solid #e5e7eb;

  box-shadow: 0 10px 20px rgba(0,0,0,0.06);

  transition: all .25s ease;
}

.document-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 14px 30px rgba(0,0,0,0.08);
}

.document-card-content {
  flex: 1;
}

/* Category */

.document-card-category {
  font-size: 13px;
  font-weight: 700;
  color: #111827;

  margin-bottom: 6px;
}

/* Title */

.document-card-title {
  font-size: 15px;
  font-weight: 700;
  color: #111827;

  margin-bottom: 8px;
}

/* Description */

.document-card-description {
  font-size: 14px;
  color: #6b7280;
  line-height: 1.5;

  margin-bottom: 16px;
}

/*Term*/
.document-card-term {
  font-size: 12px;
  font-weight: bold;
  color: #6b7280;
  line-height: 1.5;

  margin-bottom: 16px;
}

/* Button */

.document-card-button {
  border: none;
  background: transparent;

  font-size: 14px;
  font-weight: 500;
  color: #374151;

  display: flex;
  justify-content: end;
  gap: 6px;
  margin-right: 0.2rem;

  cursor: pointer;
}

.document-card-button:hover {
  color: #111827;
}